<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <label>username:</label>
      <input type="text" id="username-search" value="<%= username %>" name="username" value="" placeholder="type the username">
      <button type="button" id="search">Search</button>
    </div>
    <a href="/add">Add</a>
    <table>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>email</th>
      </tr>
      <% for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td><%= data[i].username %></td>
          <td><%= data[i].password %></td>
          <td><%= data[i].email %></td>
          <td>
            <button class="edit" type="button" data-id="<%= data[i].id %>">Edit</button>
          </td>
          <td>
            <button class="delete" type="button" data-id="<%= data[i].id %>">Delete</button>
          </td>
        </tr>
      <% } %>
    </table>

    <script>
      const editBtns = document.querySelectorAll('.edit')
      editBtns.forEach((btn) => {
        btn.addEventListener('click', function () {
          const { id } = this.dataset
          window.location.href = `/userEdit?id=${id}`
        })
      })

      const deleteBtns = document.querySelectorAll('.delete')
      deleteBtns.forEach((btn) => {
        btn.addEventListener('click', function () {
          const res = confirm('Confirm to delete?')
          if (res) {
            const { id } = this.dataset
            window.location.href = `/userDelete?id=${id}`
          }
        })
      })

      const searchBtn = document.getElementById('search')
      searchBtn.addEventListener('click', function (evt) {
        const username = document.getElementById('username-search').value
        if (username) {
          window.location.href = `/?username=${username}`
        }
      })
    </script>
  </body>
</html>
